extends base

block content 
  main.main
    .form-card
      h2.heading-secondary.ma-bt-lg Reset Password
      p.form-description To Reset Your Password. Please provide your natours email address
      form.form.form--forgot-password
        .form__group
          label.form__label(for='email') Email address
          input.email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green(type='submit') Reset Password