extends base

block content 
  main.main
    .form-card
      h2.heading-secondary.ma-bt-lg Create New Password
      p.form-description= `create new password for ${currentUser.email} . Your new password must be different from previous used password`
      form.form.form--reset-password
        .form__group
          label.form__label(for='pasword') Password
          input.password.form__input(type='password', placeholder='••••••••••', required)
        .form__group
          label.form__label(for='confirmPassword') Confirm Password
          input.confirmPassword.form__input(type='confirmPassword', placeholder='••••••••••', required)
        .form__group
          button.btn.btn--green(type='submit') Reset Password